html {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-vertical {
    flex-direction: column;
}

.container__title {
}

.mb-5 {
    margin-bottom: 5px;
}

.container__button {
    font-size: 18px;
    padding: 10px;
    background-color: dodgerblue;
    border: none;
    color: white;
    border-radius: 10px;
}

.container__button:hover {
    cursor: pointer;
    background-color: #1561ad;
}